<% if logged_in? %>
	<p>You are logged in as <%= @current_user.login%></p></br>
	<p><%= link_to "Profile", current_user%></p>
	<p><%= link_to "Log out", logout_path, method: :delete%></p>


<% else %>
	<%= link_to "Log in", login_path%>
<% end %>
